<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-striped">
    <tr>
    	<th>Title</th>
    	<th>Description</th>
     </tr>

 <% @blogs.each do |blog| %>
<tr>
  <td><%= link_to blog.title, blog_path(blog) %></td>
   <td><%= blog.body %></td>
   <td><%= link_to 'show', blog_path(blog) %></td>
   <td><%= link_to 'edit', edit_blog_path(blog) %></td>
   <td><%= link_to 'delete', blog_path(blog), :method=>:delete, data: { clear: 'Are you sure?'} %></td>
   <td><%= link_to 'comment', new_blog_comment_path(blog) %></td>

<% end %>
<br>
</table>
<%= link_to 'New Post', new_blog_path, :class => "btn btn-primary" %>
