<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="title">
	<body background="/assets/bg8.jpg">
<%= form_for @blog do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title, :placeholder => "Title" %><br>
  <%= f.label :body %>
  <%= f.text_area :body, :placeholder => "Description" %><br>
  <%= f.submit 'Create Blog', :class => "btn btn-primary" %>
<% end %>
</div>